In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.width = 0

In [3]:
adult = pd.read_csv('src/adult.csv')

In [4]:
df = adult.replace('?', np.nan)
df = df.dropna()

In [5]:
features = pd.get_dummies(df)
features = features.rename(columns={'income_>50K':'income'})
features = features.drop('income_<=50K', axis=1)

In [6]:
features.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
5,34,198693,6,0,0,30,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
X = features.drop('income', axis=1)
y = features['income']

In [8]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [9]:
model = make_pipeline(StandardScaler(), LogisticRegression())

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [12]:
model.score(X_train, y_train)

0.8501257705171794

In [13]:
model.score(X_test, y_test)

0.8474295190713101

In [14]:
from sklearn.svm import SVC

In [15]:
svc = make_pipeline(StandardScaler(), SVC(gamma='auto'))
svc.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [16]:
svc.score(X_train, y_train)

0.8580313458827432

In [17]:
svc.score(X_test, y_test)

0.844776119402985